/* General styles for the div elements */
div {
  border: 20px solid #000; /* Sets the border's width, type, and color */
  display: inline-block; /* Positions elements inline-block */
  min-width: 20em; /* Sets minimum width */
  min-height: 25em; /* Sets minimum height */
  border-radius: 50%; /* Makes the div round */
  border-left-color: transparent; /* Removes color from the left side */
  border-right-color: transparent; /* Removes color from the right side */
  border-bottom-color: transparent; /* Removes color from the bottom */
}

/* Specific styles for each colored div */
#red {
  border-top-color: #f00; /* Red */
}

#orange {
  border-top-color: #ffa500; /* Orange */
}

#yellow {
  border-top-color: #ff0; /* Yellow */
}

#green {
  border-top-color: #00bc3f; /* Green */
}

#blue {
  border-top-color: #06f; /* Blue */
}

#indigo {
  border-top-color: #8a2be2; /* Indigo */
}

#violet {
  border-top-color: #d300c9; /* Violet */
}
